<app-content-header [contentHeader]="contentHeader"></app-content-header>

<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center"
                ><i data-feather="box" class="mr-sm-50"></i><span class="d-none d-sm-block">{{ edit ? 'Modifier' : 'Détail' }}</span></a
              >
              <ng-template ngbNavContent>
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">

                  <form class="form-validate" (ngSubmit)="(transporteurForm.form.valid)" #transporteurForm="ngForm">
                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group" [ngClass]="{'pointer-events-none': !edit}">
                          <label for="nom">Nom</label>
                          <input
                              type="text"
                              id="nom"
                              class="form-control"
                              placeholder="nom"
                              name="nom"
                              [(ngModel)]="transporteur.nom"
                          />
                        </div>
                      </div>

                      <div class="col-md-4" [ngClass]="{'pointer-events-none': !edit}">
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input
                              type="text"
                              id="email"
                              class="form-control"
                              placeholder="email"
                              name="email"
                              [(ngModel)]="transporteur.email"
                              autocomplete="email"
                          />
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group"  [ngClass]="{'pointer-events-none': !edit}">
                          <label for="telephone">Telephone</label>
                          <input
                            type="text"
                            id="telephone"
                            class="form-control"
                            placeholder="telephone"
                            name="telephone"
                            [(ngModel)]="transporteur.telephone"
                          />
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group"  [ngClass]="{'pointer-events-none': !edit}">
                          <label for="address">Adresse</label>
                          <input
                              type="text"
                              id="address"
                              class="form-control"
                              placeholder="address"
                              name="address"
                              [(ngModel)]="transporteur.address"
                              autocomplete="address"
                          />
                        </div>
                      </div>
                      <div class="col-12 d-flex flex-sm-row flex-column mt-2" *ngIf="edit">
                          <button
                            type="submit"
                            (click)="submit(transporteurForm)"
                            class="btn btn-success mb-1 mb-sm-0 mr-0 mr-sm-1"
                            rippleEffect
                          >
                            Modifier
                          </button>
                          <button (click)="modalOpenForm(modalForm)" class="btn btn-outline-danger" *ngIf="hasRole.includes('Super_admin')" rippleEffect>
                            Supprimer
                          </button>
                        </div>
                    </div>
                  </form>

                  <div class="divider divider-left" *ngIf="!edit && (hasRole.includes('Super_admin') || hasRole.includes('Admin'))">
                    <div class="divider-text">  
                      <div class="custom-control custom-switch custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="edit" (change)="updateNav()"/>
                        <label class="custom-control-label" for="customSwitch1">Basculez pour modifier</label>
                      </div>
                    </div>
                  </div>

                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="login-form"> 
  <ng-template #modalForm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel1">Confirmation de suppression</h4>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <form class="form-validate" [formGroup]="ReactivePasswordConfirmationForm" (ngSubmit)="ReactiveCPFormOnSubmit()">
        <div class="row">

          <div class="col-md-12">
            <div class="form-group">
              <div class="form-group">
                  <label for="password">Mot de passe</label>
                  <input
                    type="password"
                    id="password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': ReactiveCPFormSubmitted && ReactiveCPForm.password.errors }"
                  />
                  <div
                    *ngIf="ReactiveCPFormSubmitted && ReactiveCPForm.password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ReactiveCPForm.password.errors.required">Mot de passe est requis</div>
                    <div *ngIf="ReactiveCPForm.password.errors.minlength">Mot de passe doit comporter au moins 6 caractères</div>
                  </div>
                </div>
            </div>
          </div>
          <div class="modal-footer" style="width: 100%;">
            <button class="btn btn-primary" rippleEffect>
              Confirmer
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>

  