<div class="card-container">
    <!-- Existing cards -->
    <div class="card">
        <h1><b>Tarif de base</b> </h1>



        <div class="card-letter">A</div>
    </div>

    <div *ngFor="let card of cards; let i = index" class="card" (click)="openEditModal(card, i)">
        <h1><b>Taxe Name:</b> {{ card.taxeName }}</h1>
        <h3><b>Type:</b> {{ card.typeAddition ? 'Addition' : card.typeMultiplication ? 'Multiplication' : 'None' }}</h3>
        <h3 *ngIf="card.isTemporal"><b>From Date:</b> {{ card.fromDate }}</h3>
        <h3 *ngIf="card.isTemporal"><b>To Date:</b> {{ card.toDate }}</h3>
        <div class="card-letter">{{ card.letter }}</div>
        <button class="btn btn-danger" (click)="deleteCard(i, $event)"><i class="fas fa-times"></i></button>
    </div>




    <!-- Plus card -->
    <div class="card plus-card" (click)="open()">
        <i class="fas fa-plus"></i>
    </div>
</div>

<!-- Modal content -->
<ng-template #newCardModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ editIndex !== null ? 'Edit Taxe' : 'Add New Taxe' }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <!-- Name Input -->
            <div class="form-group">
                <label for="cardName">Taxe Name:</label>
                <input type="text" id="cardName" class="form-control" [(ngModel)]="newCardData.taxeName" name="name">
            </div>

            <!-- Type Selection (Checkboxes) -->
            <div class="form-group">
                <label>Type:</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="type1" [(ngModel)]="newCardData.typeAddition" name="type1" (change)="typeChanged('type1')">
                    <label class="form-check-label" for="type1">Addition</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="type2" [(ngModel)]="newCardData.typeMultiplication" name="type2" (change)="typeChanged('type2')">
                    <label class="form-check-label" for="type2">Multiplication</label>
                </div>
            </div>

            <!-- Option 3 Checkbox -->
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="option3" [(ngModel)]="newCardData.isTemporal" name="option3" (change)="optionChanged()">
                    <label class="form-check-label" for="option3">Temporal</label>
                </div>
            </div>

            <!-- Date Input -->
            <div class="form-group" *ngIf="newCardData.isTemporal">
                <label for="cardDate1">From Date:</label>
                <input type="date" id="cardDate1" class="form-control" [(ngModel)]="newCardData.fromDate" name="date">
            </div>
            <div class="form-group" *ngIf="newCardData.isTemporal">
                <label for="cardDate2">To Date:</label>
                <input type="date" id="cardDate2" class="form-control" [(ngModel)]="newCardData.toDate" name="date">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addCard()">Save</button>
    </div>
</ng-template>


<div class="fixed-bar">

    <label for="selection">Select Transporteur: </label>
    <select [(ngModel)]="selectedTransporteurId" class="form-control" id = "selection">
        <option *ngFor="let transporteur of transporteurs" [value]="transporteur.id">
            {{ transporteur.name }}
        </option>
    </select>

    <!--File Input -->


    <label for="fileSelection">Select File: </label>

    <input type="file" id="fileSelection" style="display: none" (change)="handleFileInput($event)" #fileInput>

    <!-- Custom Button to Trigger the File Input -->
    <button type="button" class="btn btn-primary" (click)="fileInput.click()">
        <i class="fas fa-upload"></i> Select file
    </button>

    <!-- Display Selected File Name -->
    <span *ngIf="fileToUpload" class="ml-2">{{ fileToUpload?.name }}</span>

    <!-- Formula Input -->
    <label for="formulaEnter">Select File: </label>
    <input type="text" placeholder="Enter the formula" id = "formulaEnter" [(ngModel)]="formula" class="form-control" style="font-size: 18px; height: 50px; width: 550px;">

    <!-- Ajouter Button -->
    <button class="btn btn-primary" (click)="onAjouterClick()">Ajouter</button>
</div>




