<div class="content-wrapper container-xxl p-0">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="card">
        <div class="card-header bg-primary text-white">Test Inputs</div>
        <div class="card-body">
            <div class="form-group">
                <input type="text" [(ngModel)]="currentInput.weight" placeholder="Weight" class="form-control mb-2">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="currentInput.nombrePalette" placeholder="Nombre Palette" class="form-control mb-2">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="currentInput.destinataireId" placeholder="Destinataire ID" class="form-control mb-2">
            </div>
            <button (click)="submitRow()" class="btn btn-primary mb-2">Submit</button>
        </div>
        <br/>
        <br/>
        <br/>

        <!-- Buttons documents -->
        <div class="row mb-2">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary w-100" rippleEffect (click)="generateCsv()">
                    <span data-feather="printer" class="mr-1"></span>
                    Générer Fichier csv
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary w-100" rippleEffect (click)="generateTable()">
                    <span data-feather="printer" class="mr-1"></span>
                    Exporter Le Tableau
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-success w-100" rippleEffect (click)="generateExcel()">
                    <span data-feather="printer" class="mr-1"></span>
                    Générer Rapports
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-primary w-100" rippleEffect (click)="envoieEmail()">
                    <span data-feather="mail" class="mr-1"></span>
                    Envoyer Des Emails
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary w-100" (click)="generateAndSendLvs()">
                    <span data-feather="file" class="mr-1"></span>
                    Generate LVS
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success w-100" rippleEffect (click)="confirmExpedition()">
                    <span data-feather="check-square" class="mr-1"></span>
                    Confirmer L'expedition
                </button>
            </div>
        </div>

        <h2>Transporteurs :</h2>

        <ngx-datatable
                class="material"
                [rows]="rows"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [limit]="size"
        >
            <ngx-datatable-column prop="dateExpedition" name="Date Expedition" [width]="90">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{ value | date: 'dd-MM-yyyy'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="unixDate" name="Date" [width]="90">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{ value | date: 'dd-MM-yyyy'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngFor="let column of columns" [prop]="column.prop" [name]="column.name" [width]="column.width">
            </ngx-datatable-column>
            <ngx-datatable-column prop="cheapestTariff" name="Tarif Total" [width]="90">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{ value }} €
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <div class="row mb-3" style="width: 100%; margin: auto; justify-content: center;">
        <div class="col-md-2">
            <label for="pageSize">Page Size</label>
            <select id="pageSize" class="form-control" (change)="onPageSizeChanged($event)">
                <option *ngFor="let size of [5, 10, 20, 50]" [value]="size">{{size}}</option>
            </select>
        </div>
        <div class="col-md-4 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-primary" (click)="setPage({offset: page - 1})" [disabled]="page === 0">Previous</button>
            <span>Page {{page + 1}}</span>
            <button class="btn btn-outline-primary" (click)="setPage({offset: page + 1})" [disabled]="(page + 1) * size >= totalElements">Next</button>
        </div>
    </div>
</div>
