
<div class="content-wrapper container-xxl p-0">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="card">
    <div class="card-header">Test Inputs</div>
    <div class="card-body">
        <input type="text" [(ngModel)]="currentInput.weight" placeholder="Weight" class="form-control mb-2">
        <input type="text" [(ngModel)]="currentInput.nombrePalette" placeholder="Nombre Palette" class="form-control mb-2">
        <input type="text" [(ngModel)]="currentInput.destinataireId" placeholder="Destinataire ID" class="form-control mb-2">
        <button (click)="submitRow()" class="btn btn-primary mb-2">Submit</button>
    </div>

    <br/>
        <br/>
        <br/>

        <div class="row mb-1" style="width: 100%; margin: auto; justify-content: center;">

        <!-- Buttons documents -->
        <div class="col-md-10 col-12 d-flex justify-content-start justify-content-md-end" style="justify-content: center !important">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <button type="button" class="btn btn-primary" rippleEffect (click)="generateCsv()">
                    <span [data-feather]="'printer'" [class]="'mr-25'"></span>
                    Générer Fichier csv
                </button>
            </div>





            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0 mr-2">
                <button type="button" class="btn btn-outline-success" rippleEffect (click)="generateExcel()">
                    <span [data-feather]="'printer'" [class]="'mr-25'"></span>
                    Générer Rapports
                </button>
            </div>

            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <label for="selection">Select Date For Emails: </label>
                        <input
                                class="form-control ml-1"
                                placeholder="yyyy-mm-dd"
                                name="Basic Date Picker"
                                [(ngModel)]="basicDPdata"
                                ngbDatepicker
                                #basicDP="ngbDatepicker"
                                id="selection"
                        />
                        <div class="input-group-append">
                            <button
                                    class="btn btn-outline-secondary feather icon-calendar"
                                    (click)="basicDP.toggle()"
                                    type="button"
                                    rippleEffect
                            ></button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0 ml-1">
                <button type="button" class="btn btn-outline-primary" rippleEffect (click)="envoieEmail()">
                    <span [data-feather]="'mail'" [class]="'mr-25'"></span>
                    Envoyer Des Emails
                </button>
            </div>
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0 ml-1">
                <button type="button" class="btn btn-success" rippleEffect (click)="confirmExpedition()">
                    <span [data-feather]="'check-square'" [class]="'mr-25'"></span>
                    Confirmer L'expedition
                </button>
            </div>
        </div>
        </div>



        <br/>
            <h2>Transporteurs :</h2>
        <br/>
        <br/>
        <ngx-datatable
                class="material"
                [rows]="rows"
                [columns]="columns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [limit]="10" style="height: 1000px;">
        </ngx-datatable>




</div>
    </div>