<div class="card">
    <div class="card-header">Freight Details</div>
    <div class="card-body">
        <input type="text" [(ngModel)]="currentInput.weight" placeholder="Weight" class="form-control mb-2">
        <input type="text" [(ngModel)]="currentInput.nombrePalette" placeholder="Nombre Palette" class="form-control mb-2">
        <input type="text" [(ngModel)]="currentInput.destinataireId" placeholder="Destinataire ID" class="form-control mb-2">
        <button (click)="submitRow()" class="btn btn-primary mb-2">Submit</button>

        <ngx-datatable #table class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
            <ngx-datatable-column name="Weight" prop="weight"></ngx-datatable-column>
            <ngx-datatable-column name="Nombre Palette" prop="nombrePalette"></ngx-datatable-column>
            <ngx-datatable-column name="Destinataire ID" prop="destinataireId"></ngx-datatable-column>
            <ngx-datatable-column name="Tarif Total" prop="tarifTotal"></ngx-datatable-column>
            <ngx-datatable-column name="Best Transporteur" prop="bestTransporteur"></ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>
