<app-content-header [contentHeader]="contentHeader"></app-content-header>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="select-transporteur">
                        <label>Select Transporteur
                            <select class="form-select" [(ngModel)]="a" name="unique" (change)="onTransporteurSelect(a.id)">
                                <option value="" disabled selected>Select a Transporteur</option>
                                <option *ngFor="let transporteur of transporteurs" [ngValue]="transporteur">
                                    {{ transporteur.name }}
                                </option>
                            </select>
                        </label>
                    </div>
                    <button class="btn btn-primary" routerLink="/taxe/new">New Taxe</button>
                </div> <!-- Card Header Closing Tag -->
                <div class="card-body">
                    <!-- Scrollable Table Container -->
                    <div class="table-responsive">
                        <ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="'force'" [rowHeight]="'auto'" [headerHeight]="50" [footerHeight]="50" [limit]="selectedOption" [scrollbarH]="true" [messages]="{emptyMessage: notFoundMessage , totalMessage: 'tarifAffs'}">
                            <ngx-datatable-column name="Nom du departement" prop="departementName" [width]="150">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span class="font-weight-bold">{{ value }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <!-- Dynamically generated columns for each taxName -->
                            <ngx-datatable-column *ngFor="let range of uniqueWeightRanges" [name]="'Kg ' + range" [prop]="'range_' + range.replace('-', '_') + 'Price'" [width]="120">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <a (click)="navigateToDetail(value.id)" class="price-link">{{ value.prix }}</a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div> <!-- Table Responsive Closing Tag -->
                </div> <!-- Card Body Closing Tag -->
            </div> <!-- Card Closing Tag -->
        </div> <!-- Column Closing Tag -->
    </div> <!-- Row Closing Tag -->
</div> <!-- Container Fluid Closing Tag -->
