<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <section class="users-list-wrapper">
          <div class="card">
              <h4 class="card-header text-primary">Filtre de recherche</h4>
              <div class="card-body">
                  <div class="row">
  
                      <!-- zone Filter -->
                      <div class="col-lg-3 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                        <p class="card-text col-title mb-md-50 mb-0">ID UME</p>
                        <fieldset class="form-group">
                            <input
                                [(ngModel)]="request.idUme"
                                name="idUme"
                                type="number"
                                class="form-control ml-25"
                                [disabled]="request.colis"
                        /></fieldset>
                    </div>
                      <!-- zone Filter Ends -->

                    <!-- zone Filter -->
                    <div class="col-lg-3 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                        <p class="card-text col-title mb-md-50 mb-0">ID Colis</p>
                        <fieldset class="form-group">
                            <input
                                [(ngModel)]="request.colis"
                                name="colis"
                                type="number"
                                class="form-control ml-25"
                                [disabled]="request.idUme"
                            />
                        </fieldset>
                    </div>
                      <!-- zone Filter Ends -->
  
                      <!-- zone Filter -->
                      <div class="col-lg-3 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                          <p class="card-text col-title mb-md-50 mb-0">Zone</p>
                          <ng-select 
                                name="zone"
                                id="zone"
                                [items]="zones" 
                                [(ngModel)]="request.zone"
                                bindLabel="nom"  
                                bindValue="id"
                                [disabled]="request.colis || request.idUme"  
                          >
                              <ng-template ng-option-tmp let-item="item">
                              {{item.nom}}
                              </ng-template>
                          </ng-select>
                      </div>
                      <!-- zone Filter Ends -->
  
                      <!-- N° LOT Filter -->
                      <div class="col-lg-3 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                          <p class="card-text col-title mb-md-50 mb-0">N° Lot</p>
                          <fieldset class="form-group">
                              <input
                                [(ngModel)]="request.numeroLot"
                                name="lot"
                                type="search"
                                class="form-control ml-25"
                                [disabled]="request.colis || request.idUme"
                          /></fieldset>
                      </div>
                      <!-- N° LOT Filter Ends -->
  
                      <!-- N° BLE Filter -->
                      <div class="col-lg-3 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                          <p class="card-text col-title mb-md-50 mb-0">N° Ble</p>
                          <fieldset class="form-group">
                              <input
                                [(ngModel)]="request.ble"
                                name="ble"
                                type="search"
                                class="form-control ml-25"
                                [disabled]="request.colis || request.idUme"
                          /></fieldset>
                      </div>
                      <!-- N° BLE Filter Ends -->
  
                      <!-- Article Filter -->
                      <div class="col-lg-6 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                          <p class="card-text col-title mb-md-50 mb-0">Désignation | Code Article</p>
                          <fieldset class="form-group">
                              <input
                                [(ngModel)]="request.article"
                                name="article"
                                type="search"
                                class="form-control ml-25"
                                [disabled]="request.colis || request.idUme"
                          /></fieldset>
                      </div>
                      <!-- Article Filter Ends -->

                      <!-- Qte Stock Filter -->
                      <div class="col-lg-3 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                          <p class="card-text col-title mb-md-50 mb-0">Qte Stock</p>
                          <fieldset class="form-group">
                              <input
                                    [(ngModel)]="operation"
                                    name="qte"
                                    type="search"
                                    class="form-control ml-25"
                                [disabled]="request.colis || request.idUme"
                          /></fieldset>
                      </div>
                      <!-- Qte Stock Filter Ends -->

                      <!-- Date Start Peremption Filter -->
                      <div class="col-lg-3 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                          <p class="card-text col-title mb-md-50 mb-0">Date de péremption ( Début )</p>
                          <fieldset class="form-group">
                              <input
                                [(ngModel)]="dateStartP"
                                name="dps"
                                type="date"
                                class="form-control ml-25"
                                [disabled]="request.colis || request.idUme"
                          /></fieldset>
                      </div>
                      <!-- Date Start Peremption Filter Ends -->

                      <!-- Date Fin Peremtion  Filter -->
                      <div class="col-lg-3 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                          <p class="card-text col-title mb-md-50 mb-0">Date de péremption ( Fin )</p>
                          <fieldset class="form-group">
                              <input
                                [(ngModel)]="dateEndP"
                                name="dpf"
                                type="date"
                                class="form-control ml-25"
                                [disabled]="request.colis || request.idUme"
                          /></fieldset>
                      </div>
                      <!-- Date Fin Peremtion  Filter Ends -->

                      <!-- Date Start Peremption Filter -->
                      <div class="col-lg-3 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                          <p class="card-text col-title mb-md-50 mb-0">Date de réception ( Début )</p>
                          <fieldset class="form-group">
                              <input
                                [(ngModel)]="dateStartR"
                                name="drs"
                                type="date"
                                class="form-control ml-25"
                                [disabled]="request.colis || request.idUme"
                          /></fieldset>
                      </div>
                      <!-- Date Start Peremption Filter Ends -->

                      <!-- Date Fin Peremtion  Filter -->
                      <div class="col-lg-3 col-12 mb-lg-0 mb-2 mt-lg-0 mt-2">
                          <p class="card-text col-title mb-md-50 mb-0">Date de réception ( Fin )</p>
                          <fieldset class="form-group">
                              <input
                                [(ngModel)]="dateEndR"
                                name="drf"
                                type="date"
                                class="form-control ml-25"
                                [disabled]="request.colis || request.idUme"
                          /></fieldset>
                      </div>
                      <!-- Date Fin Peremtion  Filter Ends -->
                  </div>

                  <div class="btn btn-icon btn-outline-danger float-right" (click)="clear()" rippleEffect>
                      <span [data-feather]="'trash'"></span>
                  </div>
                  <div class="btn btn-icon btn-primary float-right mr-1" (click)="search()" rippleEffect>
                      <span [data-feather]="'search'"></span>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="row">
                  <div class="col-md-6 col-12">
                      <div class="d-flex align-items-center m-2">
                          <label class="d-flex align-items-center">
                              <select 
                                id="select"
                                  class="form-control mx-25 pr-3" 
                                  (change)="onSizeChange($event.target.value)"
                              >
                                  <option
                                    *ngFor="let option of pageLimitOptions"
                                    [value]="option.value"
                                    [selected]="option.value == currentPageLimit"
                                  >
                                    {{ option.value }}
                                  </option>
                              </select>
                          </label>
                      </div>
                  </div>
                  <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                      <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                          <label class="d-flex align-items-center ml-1 ml-md-0">
                              Recherche:
                              <input
                                  [(ngModel)]="searchValue"
                                  name="searchValue"
                                  type="search"
                                  class="form-control ml-25"
                                  (keyup)="filterUpdate($event)"
                                  (search)="filterUpdate($event)"
                              />
                          </label>
                          <button class="btn btn-outline-success ml-1" rippleEffect (click)="exportToExcel()" *ngIf="!hasRole.includes('Client')">
                            <i data-feather="download" class="d-inline-block mr-0 mr-sm-1"></i>
                            <span class="d-none d-sm-inline-block">Exporter stock Excel</span>
                          </button>
                      </div>
                  </div>
              </div>

              <ngx-datatable
                  [rows]="umes"
                  rowHeight="auto"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [scrollbarH]="true"
                  [columnMode]="ColumnMode.force"
                  [externalPaging]="true"
                  [limit]="request.page.limit"
                  [count]="request.page.count"
                  [offset]="request.page.offset"
                  (page)="pageCallback($event)"
                  [externalSorting]="true"
                  (sort)="onSort($event)"
                  [messages]="{emptyMessage: 'Aucun Ume n\'a été trouvé', totalMessage:'Umes'}"
                  class="bootstrap core-bootstrap"
              >
              <ngx-datatable-column name="#" prop="id" [width]="50">
                  <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div class="cell-line-height">
                        <a class="font-medium-1 d-block" routerLink="/ume/detail/{{row.id}}"
                          ><span class="font-weight-bold"># {{ row.id }}</span></a
                        >
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="Article" prop="article" [width]="200">
                  <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div class="cell-line-height">
                          <span class="font-weight-bold">{{ row.article }}</span>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="Zone" prop="zone" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                      {{ row.zone }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="Numero lot" prop="numeroLot" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                      {{ row.numeroLot }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="Date de réception" prop="dateReception" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div>
                      {{ row.dateReception | date: 'dd-MM-yyyy' }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="Stock" prop="qte" [width]="10">
                  <ng-template let-stock="value" ngx-datatable-cell-template>
                    <div
                      class="badge badge-pill"
                      [ngClass]="{
                        'badge-light-success': stock > 0,
                        'badge-light-secondary': stock == 0
                      }"
                    >
                      {{stock}}
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Date de péremption" prop="datePeremption" [width]="100">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div
                      class="badge badge-pill"
                      [ngClass]="{
                          'badge-light-success': fourMonth < row.datePeremption,
                          'badge-light-warning': twoMonth < row.datePeremption && fourMonth > row.datePeremption,
                          'badge-light-danger': twoMonth > row.datePeremption
                      }"
                    >
                      {{ row.datePeremption | date: 'dd-MM-yyyy' }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="Numero BLE" prop="ble" [width]="100">
                  <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div class="cell-line-height">
                          <span class="font-weight-bold">{{ row.ble }}</span>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                  <ngx-datatable-column 
                      name="Actions" 
                      [width]="10" 
                      [sortable]="false"
                      *ngIf="!(hasRole.includes('Client') || hasRole.includes('User'))"
                  >
                      <ng-template 
                          ngx-datatable-cell-template 
                          let-row="row"
                      >
                          <div 
                              ngbDropdown 
                              container="body"
                          >
                              <button 
                                  ngbDropdownToggle 
                                  type="button" 
                                  class="btn icon-btn btn-sm hide-arrow" 
                                  rippleEffect
                              >
                                  <span 
                                      [data-feather]="'more-vertical'" 
                                      [class]="'cursor-pointer'"
                                  ></span>
                              </button>
                              <div ngbDropdownMenu>
                                  <a 
                                      routerLink="/ume/detail/{{ row.id }}"
                                      ngbDropdownItem
                                  >
                                      <span 
                                          [data-feather]="'file-text'" 
                                          [size]="16" 
                                          [class]="'mr-50'"
                                      ></span> 
                                      Consulter
                                  </a>
                                  <a 
                                      routerLink="/ume/edit/{{ row.id }}" 
                                      ngbDropdownItem
                                      *ngIf="hasRole.includes('Super_admin') || hasRole.includes('Admin')"
                                  >
                                      <span 
                                          [data-feather]="'edit'" 
                                          [size]="16" 
                                          [class]="'mr-50'"
                                      ></span> 
                                      Modifier
                                  </a>
                                  <a 
                                      (click)="modalOpenForm(modalForm, row.id)" 
                                      ngbDropdownItem
                                      *ngIf="hasRole.includes('Super_admin')"
                                  >
                                      <span 
                                          [data-feather]="'trash'" 
                                          [size]="16" 
                                          [class]="'mr-50'"
                                      ></span> 
                                      Suprimer
                                  </a>
                              </div>
                          </div>
                      </ng-template>
                  </ngx-datatable-column>
              </ngx-datatable>
          </div>
      </section>
  </div>
</div>

<div class="login-form"> 
  <ng-template #modalForm let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel1">Confirmation de suppression</h4>
          <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
          <form class="form-validate" [formGroup]="ReactivePasswordConfirmationForm" (ngSubmit)="ReactiveCPFormOnSubmit()">
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <div class="form-group">
                              <label for="password">Mot de passe</label>
                              <input
                                  type="password"
                                  id="password"
                                  formControlName="password"
                                  class="form-control"
                                  [ngClass]="{ 'is-invalid': ReactiveCPFormSubmitted && ReactiveCPForm.password.errors }"
                              />
                              <div
                                  *ngIf="ReactiveCPFormSubmitted && ReactiveCPForm.password.errors"
                                  class="invalid-feedback"
                              >
                                  <div *ngIf="ReactiveCPForm.password.errors.required">Mot de passe est requis</div>
                                  <div *ngIf="ReactiveCPForm.password.errors.minlength">Mot de passe doit comporter au moins 6 caractères</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer" style="width: 100%;">
                      <button class="btn btn-primary" rippleEffect> Confirmer </button>
                  </div>
              </div>
          </form>
      </div>
  </ng-template>
</div>